<div class="room">
  <p class="name">
    <a href="#" phx-click="show_modal" phx-target="<%= @id %>"><%= @room.name %></a>
  </p>
  <div class="light-bulb <%= if @room.brightness > 0 do "-active" end %>">
    <div class="base"></div>
    <div class="light"></div>
  </div>
  <div class="door"></div>
</div>
