/* stylelint-disable */
.floor-plan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  > .title {
    position: absolute;
    left: 40px;
    top: 0;
    font-size: 1.5em;
  }

  > .plan {
    padding-top: 10%;
    width: 400px;
  }

  > .plan > .room {
    position: relative;
    border: black 5px solid;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }

  > .plan > .room::before {
    /* window */
    content: '';
    position: absolute;
  }

  > .plan > .room::after {
    /* door */
    content: '';
    position: absolute;
  }

  > .plan > .room > .name {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2em;
    color: #1658f4;
  }

  > .plan > div[class^='room']:nth-child(2) {
    left: 0;
    top: 0;
    width: 180px;
    height: 77px;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  /* Front door (first half)*/
  > .plan > div[class^='room']:nth-child(2)::before {
    left: -2px;
    bottom: -2px;
    height: 33px;
    width: 25px;
    border-width: 3px 2px 2px 2px;
    border-style: double solid solid solid;
    border-color: black black black transparent;
    border-radius: 0 0 27px 0;
    -moz-border-radius: 0 0 27px 0;
    -webkit-border-radius: 0 0 27px 0;
  }

  /* Front door (first half)*/
  > .plan > div[class^='room']:nth-child(2)::after {
    top: -2px;
    left: -2px;
    height: 33px;
    width: 25px;
    border-width: 2px 2px 3px 2px;
    border-style: solid solid double solid;
    border-color: black black black transparent;
    border-radius: 0 27px 0 0;
  }

  > .plan > div[class^='room']:nth-child(3) {
    left: 180px;
    top: -87px;
    width: 200px;
    height: 150px;
    border-left-color: transparent;
    line-height: 100px; /* FIXME: center text */
  }

  > .plan > div[class^='room']:nth-child(3)::before {
    top: -4px;
    left: 45%;
    width: 60px;
    border-top: 2px solid #fff;
  }

  > .plan > div[class^='room']:nth-child(3)::after {
    left: 25px;
    bottom: -5px;
    height: 30px;
    width: 30px;
    border-width: 2px 2px 6px 3px;
    border-style: solid solid solid double;
    border-color: black black #f7f7f7 black;
    border-radius: 0 32px 0 0;
    -moz-border-radius: 0 32px 0 0;
    -webkit-border-radius: 0 32px 0 0;
  }

  > .plan > div[class^='room']:nth-child(4) {
    left: 1px;
    top: -165px;
    width: 177px;
    height: 140px;
    line-height: 100px;
  }

  > .plan > div[class^='room']:nth-child(4)::before {
    top: 30px;
    left: -4px;
    height: 60px;
    border: 1px solid #fff;
  }

  > .plan > div[class^='room']:nth-child(4)::after {
    right: -5px;
    bottom: 10%;
    height: 30px;
    width: 30px;
    border-width: 2px 5px 3px 2px;
    border-style: solid solid double solid;
    border-color: black #f7f7f7 black black;
    border-radius: 32px 0 0 0;
    -moz-border-radius: 32px 0 0 0;
    -webkit-border-radius: 32px 0 0 0;
  }

  > .plan > div[class^='room']:nth-child(5) {
    left: 1px;
    top: -169px;
    width: 177px;
    height: 140px;
    line-height: 100px;
  }

  > .plan > div[class^='room']:nth-child(5)::before {
    top: 30px;
    left: -4px;
    height: 60px;
    border: 1px solid #fff;
  }

  > .plan > div[class^='room']:nth-child(5)::after {
    right: -5px;
    bottom: 10%;
    height: 30px;
    width: 30px;
    border-width: 2px 5px 3px 2px;
    border-style: solid solid double solid;
    border-color: black #f7f7f7 black black;
    border-radius: 32px 0 0 0;
    -moz-border-radius: 32px 0 0 0;
    -webkit-border-radius: 32px 0 0 0;
  }

  > .plan > div[class^='room']:nth-child(6) {
    left: 188px;
    top: -406px;
    width: 197px;
    height: 213px;
    line-height: 190px;
    border-top: transparent;
    border-left: transparent;
  }

  > .plan > div[class^='room']:nth-child(6)::before {
    top: 30px;
    right: -4px;
    height: 60px;
    border: 1px solid #fff;
  }
}
/* stylelint-enable */
